html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 1rem 3rem;
  font-family: 'Muli', sans-serif;
  color: #2c2c2c; }

.section-2-of-home {
  padding: 10% 0;
  height: 100vh; }

.section-3 {
  padding: 4rem 0;
  margin-top: 40%; }

.container {
  margin-top: 45%; }

.navigation__nav {
  padding: 2rem 0;
  position: relative;
  z-index: 1000; }

.navigation__list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; }

.navigation__item {
  display: inline-block;
  text-align: center; }
  .navigation__item:not(:last-child) {
    margin-right: 1rem; }

.navigation__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #2c2c2c;
  padding-bottom: 0.5rem; }
  .navigation__link:focus {
    border-bottom: 1px solid black;
    color: black;
    font-weight: 400; }

@media screen and (max-width: 400px) {
  .navigation__link {
    font-size: 1.2rem; } }

.mountain {
  position: relative;
  padding: 4rem 0; }
  .mountain__logo-box {
    font-family: 'Pompiere', cursive;
    width: 50%;
    position: absolute;
    top: -5rem;
    left: 5%; }
  .mountain__logo {
    display: inline-block;
    font-size: 6rem;
    color: #209fdb;
    font-weight: 300; }
  .mountain__caption {
    text-align: center;
    margin-top: 10rem; }
  .mountain__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #209fdb;
    margin-bottom: -.85rem; }
  .mountain__img {
    width: 85%; }

.bird {
  padding: 4rem 0; }
  .bird__box__img {
    width: 100%;
    position: relative; }
  .bird__img {
    width: 60%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 7.5%; }
  .bird__caption {
    z-index: 1;
    width: 50%;
    position: absolute;
    left: 15%; }
  .bird__text {
    font-size: 4.5rem;
    letter-spacing: 1px;
    color: #209fdb; }
  .bird__span--1 {
    display: block; }
  .bird__span--2 {
    display: block;
    font-size: 1.3rem;
    font-weight: 400; }
  .bird__span--3 {
    display: block; }

.greenroom {
  position: relative; }
  .greenroom__img {
    width: 60%;
    position: absolute;
    left: 7.5%;
    z-index: -1; }
  .greenroom__caption {
    z-index: 1;
    position: absolute;
    top: 2.5rem;
    right: 8%; }
  .greenroom__text {
    font-size: 3.5rem;
    letter-spacing: 1px;
    color: #209fdb;
    position: relative; }
  .greenroom__span--1 {
    display: block; }
  .greenroom__span--2 {
    display: block;
    font-size: 1.3rem;
    position: absolute;
    top: 100%;
    left: 42%; }
  .greenroom__span--3 {
    display: block; }

.redefine {
  position: relative;
  margin-top: 40%; }
  .redefine__img {
    width: 45%;
    position: absolute;
    top: 0;
    right: 7.5%; }
  .redefine__caption {
    position: absolute;
    top: 8rem;
    left: 15%; }
  .redefine__text {
    font-size: 3.5rem;
    letter-spacing: 1px;
    color: #209fdb; }
  .redefine__span--1 {
    display: block; }
  .redefine__span--2 {
    display: block;
    font-size: 1.3rem;
    font-weight: 200; }

.blue__quote {
  margin-top: 88%;
  background-color: #209fdb;
  padding: 4rem 0; }
  .blue__quote__img {
    width: 100%; }

.lamp {
  padding: 4rem 0;
  position: relative;
  margin-top: 8rem; }
  .lamp__box__img {
    width: 100%; }
  .lamp__img {
    width: 60%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 7.5%; }
  .lamp__caption {
    z-index: 1;
    width: 37rem;
    position: absolute;
    left: 15%; }
  .lamp__caption--2 {
    z-index: 1;
    width: 50%;
    position: absolute;
    left: 15%;
    top: 28rem; }
  .lamp__text {
    font-size: 4.5rem;
    letter-spacing: 1px;
    color: #209fdb;
    color: #223f6a;
    position: relative; }
  .lamp__span--1 {
    display: block; }
  .lamp__span--2 {
    display: block;
    font-size: 3rem;
    font-weight: 400; }
  .lamp__span--3 {
    display: block; }
  .lamp__span--4 {
    display: block;
    font-family: 'Permanent Marker', cursive;
    color: #209fdb;
    font-size: 6rem;
    position: absolute;
    top: 57%;
    left: 38%; }

@media screen and (max-width: 800px) {
  .mountain__logo-box {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center; }
  .mountain__heading {
    font-size: 1.7rem;
    margin-bottom: 0rem; }
  .bird__text {
    font-size: 1.7rem; }
  .bird__span--2 {
    font-size: 0.7rem; }
  .greenroom__caption {
    top: 0%;
    right: 0%; }
  .greenroom__text {
    font-size: 1.7rem; }
  .greenroom__span--2 {
    font-size: 0.8rem; }
  .redefine__text {
    font-size: 1.7rem; }
  .redefine__caption {
    position: absolute;
    top: 0rem;
    left: 0rem; }
  .lamp__text {
    font-size: 1rem; }
  .lamp__span--2 {
    font-size: 1.4rem; }
  .lamp__caption--2 {
    top: 10rem;
    font-weight: bold;
    left: 0;
    top: 10rem; }
  .lamp__caption {
    z-index: 1;
    width: 37rem;
    position: absolute;
    left: 0;
    /* display: inline-block; */
    width: 50%;
    top: 0rem; }
  .lamp__span--4 {
    display: block;
    font-family: 'Permanent Marker', cursive;
    color: #209fdb;
    font-size: 2.5rem;
    position: absolute;
    top: 63%;
    left: 57%; } }
