html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding:1rem 3rem;
    font-family: 'Muli', sans-serif;
    color: $color-gray;

}

// .section-1-of-home{
//     position: relative;
//     height: 50vh;
// }

.section-2-of-home{
    padding: 10% 0;
    height: 100vh;
}

.section-3{
    padding: 4rem 0;
    margin-top: 40%;
}

.container{
    margin-top: 45%;
}