.mountain{
    position: relative;
    padding:4rem 0;

    &__logo-box{
        font-family: 'Pompiere', cursive;
        width: 50%;
        position: absolute;
        top:-5rem;
        left:5%
        
    }

    &__logo{
        display: inline-block;
        font-size: 6rem;
        color:$color-primary;
        font-weight: 300;
        
    }

    &__caption{
        text-align: center;
        margin-top: 10rem;
    }

    &__heading{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        color:$color-primary;
        margin-bottom: -.85rem;
        
    }

    &__img{
        width: 85%;
    }
}





// bird section styling

.bird{
    
    padding: 4rem 0;
    

    &__box__img{
        width: 100%;
        position: relative;
        
    }
    &__img{
        width: 60%;
        z-index: -1;
        position: absolute;
        top:0;
        right: 7.5%;
    }

    &__caption{
        z-index: 1;
        width: 50%;
        position: absolute;
        left: 15%;
    }

    &__text{
        font-size: 4.5rem;
        // text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-primary;
        // font-weight: 700

    }

    &__span--1{
        display: block;
    }

    &__span--2{
        display: block;
        font-size: 1.3rem;
        font-weight: 400;
    }

    &__span--3{
        display: block;
    }
}

.greenroom{
    position: relative;
    // margin-top:48%;

    &__img{
        width: 60%;
        position: absolute;
        left: 7.5%;
        z-index: -1;
    }

    &__caption{
        z-index: 1;
        position: absolute;
        top:2.5rem;
        right: 8%;
    }

    &__text{
        font-size: 3.5rem;
        // text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-primary;
        // font-weight: 700;
        position: relative;

    }


    &__span--1{
        display: block;
    }
    &__span--2{
        display: block;
        font-size: 1.3rem;
        // font-weight: 400;
        position: absolute;
        top: 100%;
        left: 42%;
    }

    &__span--3{
        display: block;
    }

}




.redefine{
    position: relative;
    margin-top: 40%;
    &__img{
        width:45%;
        position: absolute;
        top:0;
        right: 7.5%;
        
    }

    &__caption{
        position: absolute;
        top: 8rem;
        left: 15%;
    }

    &__text{
        font-size: 3.5rem;
        letter-spacing: 1px;
        color: $color-primary;
        
        
    }

    &__span--1{
     display: block;
    }

    &__span--2{
        display: block;
        font-size: 1.3rem;
        font-weight: 200;
       }
}

.blue__quote{
    margin-top: 88%;
    background-color: #209fdb;
    padding: 4rem 0;

    &__img{
        width: 100%;
      
    }

};


.lamp{
    
    padding: 4rem 0;
    position: relative;
    margin-top: 8rem;
    

    &__box__img{
        width: 100%;
        
        
    }
    &__img{
        width: 60%;
        z-index: -1;
        position: absolute;
        top:0;
        right: 7.5%;
    }

    &__caption{
        z-index: 1;
        width: 37rem;
        position: absolute;
        left: 15%;
    }

    &__caption--2{
        z-index: 1;
        width: 50%;
        position: absolute;
        left: 15%;
        top: 28rem;
    }

    &__text{
        font-size: 4.5rem;
     
        letter-spacing: 1px;
        color: $color-primary;
        
        color:$color-primary-dark;
        position: relative;
    }

    &__span--1{
        display: block;
        
    }

    &__span--2{
        display: block;
        font-size: 3rem;
        font-weight: 400;
    }

    &__span--3{
        display: block;
    }

    &__span--4{
        display: block;
        font-family: 'Permanent Marker', cursive;
        color:$color-primary;
        font-size: 6rem;
        position: absolute;
        top:57%;
        left: 38%;
    }
}



@media screen and (max-width: 800px){
    .mountain__logo-box{
        position: absolute;
        top:0%;
        left:50%;
        transform: translate(-50%,0%);
        text-align: center;
    }
    .mountain__heading{
        font-size:1.7rem;
        margin-bottom: 0rem;
    }

    .bird__caption{
        // left: 0%;
    }

    .bird__text{
        font-size:1.7rem;
    }

    .bird__span--2{
        font-size: 0.7rem;
    }

    .greenroom__caption{
        top:0%;
        right:0%;
    }

    .greenroom__text{
        font-size:1.7rem;
    }

    .greenroom__span--2{
        font-size: 0.8rem;
    }

    .redefine__text{
        font-size:1.7rem;
    }
    .redefine__caption{
        position: absolute;
        top: 0rem;
        left: 0rem;
    }

    .lamp{
        &__text{
            font-size: 1rem
        };
        &__span--2{
            font-size: 1.4rem;
        }

        &__caption--2{
            top:10rem;
            font-weight: bold;
            left: 0;
            top:10rem;
        }

        &__caption{
            z-index: 1;
            width: 37rem;
            position: absolute;
            left: 0;
            /* display: inline-block; */
            width: 50%;
            top: 0rem;
        }

        &__span--4{
            display: block;
    font-family: 'Permanent Marker', cursive;
    color: #209fdb;
    font-size: 2.5rem;
    position: absolute;
    top: 63%;
    left: 57%;
        }
    }
}