.mountain{
    position: relative;
    padding:4rem 0;

    &__logo-box{
        font-family: 'Pompiere', cursive;
        width: 50%;
        position: absolute;
        top:-5rem;
        left:5%
        
    }

    &__logo{
        // display: inline-block;
        // font-size: 6rem;
        // color:$color-primary;
        // font-weight: 300;
        width: 50%;
        
    }

    &__caption{
        text-align: center;
        margin-top: 10rem;
    }

    &__heading{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        color:$color-primary;
        margin-bottom: -.85rem;
        
    }

    &__img{
        width: 85%;
    }
}





// bird section styling

.bird{
    
    padding: 4rem 0;
    

    &__box__img{
        width: 100%;
        position: relative;
        
    }
    &__img{
        width: 60%;
        z-index: -1;
        position: absolute;
        top:0;
        right: 7.5%;
    }

    &__caption{
        z-index: 1;
        width: 50%;
        position: absolute;
        left: 15%;
    }

    &__text{
        font-size: 4.5rem;
        // text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-primary;
        // font-weight: 700

    }

    &__span--1{
        display: block;
    }

    &__span--2{
        display: block;
        font-size: 1.3rem;
        font-weight: 400;
    }

    &__span--3{
        display: block;
    }
}

.greenroom{
    position: relative;
    // margin-top:48%;

    &__img{
        width: 60%;
        position: absolute;
        left: 7.5%;
        z-index: -1;
    }

    &__caption{
        z-index: 1;
        position: absolute;
        top:2.5rem;
        right: 8%;
    }

    &__text{
        font-size: 3.5rem;
        // text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-primary;
        // font-weight: 700;
        position: relative;

    }


    &__span--1{
        display: block;
    }
    &__span--2{
        display: block;
        font-size: 1.3rem;
        // font-weight: 400;
        position: absolute;
        top: 100%;
        left: 42%;
    }

    &__span--3{
        display: block;
    }

}




.redefine{
    position: relative;
    margin-top: 40%;
    &__img{
        width:45%;
        position: absolute;
        top:0;
        right: 7.5%;
        
    }

    &__caption{
        position: absolute;
        top: 8rem;
        left: 15%;
    }

    &__text{
        font-size: 3.5rem;
        letter-spacing: 1px;
        color: $color-primary;
        
        
    }

    &__span--1{
     display: block;
    }

    &__span--2{
        display: block;
        font-size: 1.3rem;
        font-weight: 200;
       }
}

.blue__quote{
    margin-top: 88%;
    margin-bottom: 15%;
    background-color: #209fdb;
    padding: 2rem 0;

    &__img{
        width: 100%;
      
    }

};




.lamp{
    
    padding: 4rem 0;
    position: relative;
    margin-top: 8rem;
    

    &__box__img{
        width: 100%;
        
        
    }
    &__img{
        width: 60%;
        z-index: -1;
        position: absolute;
        top:0;
        right: 7.5%;
    }

    &__caption{
        z-index: 1;
        width: 37rem;
        position: absolute;
        left: 15%;
    }

    &__caption--2{
        z-index: 1;
        width: 50%;
        position: absolute;
        left: 15%;
        top: 28rem;
    }

    &__text{
        font-size: 4.5rem;
     
        letter-spacing: 1px;
        color: $color-primary;
        
        color:$color-primary-dark;
        position: relative;
    }

    &__span--1{
        display: block;
        
    }

    &__span--2{
        display: block;
        font-size: 3rem;
        font-weight: 400;
    }

    &__span--3{
        display: block;
    }

    &__span--4{
        display: block;
        font-family: 'Permanent Marker', cursive;
        color:$color-primary;
        font-size: 6rem;
        position: absolute;
        top:57%;
        left: 38%;
    }
};


.anytime{
    margin-top: 47%;
    padding: 4rem 0;
    text-align: center;

    &__img{
        width: 85%;
      
    }

};



.work{
    // margin-top: 47%;
    // padding: 4rem 0;
    // text-align: center;
    // // margin-left: 5%;
    // margin-left: 6rem;

    &__img{
        width: 100%;
    }
    
    
    // &__circle{
    //     float: left;
        
    //    padding-left: 1rem;
    //     padding-top:4rem; 
        

    //     span{
    //         background-color: $color-primary-dark;
    //         border-radius: 50%;
    //         width: 80px;
    //         height: 80px;
    //         display: inline-block;
    //         &:not(:last-child){
    //             margin-right: 30px;
    //         };
            
    //         font-size: 4rem;
    //         color: white;
    //     }
    // }

    // &__circle--1{
    //     float: left;
    //     padding-top:2rem; 
    //     font-size: 1.2rem;
    //     text-transform: uppercase;
    //     color: $color-primary-dark;
    //     font-weight: bold;
    //     padding-left: 1rem;
        

    //     span{
    //         border-radius: 50%;
    //         width: 80px;
    //         height: 80px;
    //         display: inline-block;
    //         &:not(:last-child){
    //             margin-right: 30px;
    //         }
            
    //     }
    // }

    // &__text{
    //     font-size: 1.2rem;
    //     width: 30rem;
    //     margin-bottom:6%; 
    //     padding-left: 3rem;
    //     color: $color-primary;
    //     &-span{
    //         display: block;
    //         background-color: $color-primary-dark;
    //         color: white;
    //         font-size: 2rem;
    //         font-weight: bold;
    //         padding: 2px 3px;
    //         width:14rem;
    //         transform: translateY(-1rem) rotate(-5deg)
    //     } 
    // }
};

.fa{
    padding: 2rem 0;
}


.contact{
    text-align: center;
    position: relative;
    padding:0rem 0 30rem 0;
   
    

    &__name,
    &__email,
    &__message{
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
    }

    &__name{
        margin-top: -10rem;
        width: 300px;
    }

    &__email{
        margin-top: -6rem;
        width: 300px;
    }

    &__message{
        margin-top:2rem;
        height: 100px;
        width: 300px;
    };
    &__heading{
        font-size: 2rem;
        background-color: $color-primary-dark;
        display: inline-block;
        color: white;
        padding: 1rem 2rem;
        transform: rotate(-5deg)
    }

    &__submit{
        position: absolute;
        top:80%;
        left:45%;
        text-decoration: none;
        border:none;
        padding:1rem 2rem;
        background-color: $color-primary;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: $color-primary-dark
        }
    }
}


@media screen and (max-width: 800px){
    .mountain__logo-box{
        position: absolute;
        top:0%;
        left:50%;
        transform: translate(-50%,0%);
        text-align: center;
    }
    .mountain__heading{
        font-size:1.7rem;
        margin-bottom: 0rem;
    };

    .mountain__logo{
        width: 90%;
        margin-top: 5%;
    }

    // .bird__caption{
    //     // left: 0%;
    // }

    .bird__text{
        font-size:1.7rem;
    }

    .bird__span--2{
        font-size: 0.7rem;
    }

    .greenroom__caption{
        top:0%;
        right:0%;
    }

    .greenroom__text{
        font-size:1.7rem;
    }

    .greenroom__span--2{
        font-size: 0.8rem;
    }

    .redefine__text{
        font-size:1.7rem;
    }
    .redefine__caption{
        position: absolute;
        top: 0rem;
        left: 0rem;
    }

    .lamp{
        &__text{
            font-size: 1rem
        };
        &__span--2{
            font-size: 1.4rem;
        }

        &__caption--2{
            top:10rem;
            font-weight: bold;
            left: 0;
            top:10rem;
        }

        &__caption{
            z-index: 1;
            width: 37rem;
            position: absolute;
            left: 0;
            /* display: inline-block; */
            width: 50%;
            top: 0rem;
        }

        &__span--4{
            display: block;
    font-family: 'Permanent Marker', cursive;
    color: #209fdb;
    font-size: 2.5rem;
    position: absolute;
    top: 63%;
    left: 57%;
        }
    }

    .contact__submit{
        left:33%;
    }
}